<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <META http-equiv="refresh" content="0.1;url=http://www.qunar.com">
    <title>错误页面</title>
</head>
<body>
<span>友好错误页面</span>
<br>
</body>
</html>